/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.movie-card img {
  width: 100%;
}

.movie-card h3 {
  font-size: 1.2em;
}

.movie-card a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.movie-card a:hover {
  text-decoration: underline;
}

iframe {
  margin-top: 20px;
}
